<h1>Currencies</h1>
<%= button_to 'Get New Snapshot For All Currencies', {controller: "currency_snapshots", action: "capture_all"} , :method=>:post  %>
<table>
  <thead>
    <th>Name</th>
    <th>Last Ask</th>
    <th>Last Bid</th>
    <th>Last Last</th>
    <th>Last Updated</th>
    <th></th>
  </thead>
  <% @currencies.each do |currency| %>
    <tr>
      <td><%= link_to currency.name, currency_path(code: currency.code) %></td>
      <td><%= currency.last_ask %></td>
      <td><%= currency.last_bid %></td>
      <td><%= currency.last_last %></td>
      <td><%= currency.updated_at %></td>
      <td><%= button_to 'Get New Snapshot', {controller: "currency_snapshots", action: "capture", code: currency.code} , :method=>:post  %></td>
  </tr>
  <% end %>
</table>