<h4>NAME: <%= @currency.name %><br/></h4>
<h4>LAST_LAST: <%= @currency.last_last %><br/></h4>
<h4>LAST_ASK: <%= @currency.last_ask %><br/></h4>
<h4>LAST_BID: <%= @currency.last_bid %><br/></h4>
<h4>UPDATED_AT: <%= @currency.updated_at %><br/></h4>
<td><%= button_to 'Get New Snapshot', {controller: "currency_snapshots", action: "capture", code: @currency.code} , :method=>:post, class: "coinjar-button"  %></td>

<h4> SNAPSHOTS </h4>
<table>
  <thead>
    <th>VOLUME_24H</th>
    <th>VOLUME</th>

    <th>STATUS</th>
    <th>SESSION</th>
    <th>PREV_CLOSE</th>
    <th>LAST</th>
    <th>BID</th>
    <th>ASK</th>
    <th>CURRENCY_CODE</th>
    <th>SNAPSHOT_TIME</th>
    <th>TRANSITION_TIME</th>
  </thead>
  <tbody>
    <% @snapshots.each do |snapshot| %>
      <tr>
        <td><%= snapshot.volume_24h %></td>
        <td><%= snapshot.volume %></td>

        <td><%= snapshot.status %></td>
        <td><%= snapshot.session %></td>
        <td><%= snapshot.prev_close %></td>
        <td><%= snapshot.last %></td>

        <td><%= snapshot.bid %></td>
        <td><%= snapshot.ask %></td>
        <td><%= snapshot.currency_code %></td>
        <td><%= snapshot.current_time %></td>
        <td><%= snapshot.transition_time %></td>
      </tr>
    <%end%>
  </tbody>
</table>