<%= link_to 'Back to all currencies', currencies_path,  class: "coinjar-button"  %>
<%= button_to 'Get New Snapshot', {controller: "currency_snapshots", action: "capture", code: @currency.code} , :method=>:post, class: "coinjar-button"  %>

<h2>Last snapshot:</h2>
<table>
  <thead>
    <th>VOLUME_24H</th>
    <th>VOLUME</th>

    <th>STATUS</th>
    <th>SESSION</th>
    <th>PREV_CLOSE</th>
    <th>LAST</th>
    <th>BID</th>
    <th>ASK</th>
    <th>CURRENCY_CODE</th>
    <th>SNAPSHOT_TIME</th>
    <th>TRANSITION_TIME</th>
  </thead>
  <tbody>

      <tr>
        <td><%= @last_snapshot.volume_24h %></td>
        <td><%= @last_snapshot.volume %></td>

        <td><%= @last_snapshot.status %></td>
        <td><%= @last_snapshot.session %></td>
        <td><%= @last_snapshot.prev_close %></td>
        <td><%= @last_snapshot.last %></td>

        <td><%= @last_snapshot.bid %></td>
        <td><%= @last_snapshot.ask %></td>
        <td><%= @last_snapshot.currency_code %></td>
        <td><%= @last_snapshot.current_time %></td>
        <td><%= @last_snapshot.transition_time %></td>
      </tr>


  </tbody>

</table>
<h2>Past snapshots</h2>
<h4>Showing 10 snapshots per page </h4>
<table>
  <thead>
    <th>VOLUME_24H</th>
    <th>VOLUME</th>

    <th>STATUS</th>
    <th>SESSION</th>
    <th>PREV_CLOSE</th>
    <th>LAST</th>
    <th>BID</th>
    <th>ASK</th>
    <th>CURRENCY_CODE</th>
    <th>SNAPSHOT_TIME</th>
    <th>TRANSITION_TIME</th>
  </thead>
  <tbody>
    <% @past_snapshots.each do |snapshot| %>
      <tr>
        <td><%= snapshot.volume_24h %></td>
        <td><%= snapshot.volume %></td>

        <td><%= snapshot.status %></td>
        <td><%= snapshot.session %></td>
        <td><%= snapshot.prev_close %></td>
        <td><%= snapshot.last %></td>

        <td><%= snapshot.bid %></td>
        <td><%= snapshot.ask %></td>
        <td><%= snapshot.currency_code %></td>
        <td><%= snapshot.current_time %></td>
        <td><%= snapshot.transition_time %></td>
      </tr>
    <%end%>
    <%= will_paginate @past_snapshots%>
  </tbody>

</table>
